{% extends 'base.html' %} {% block content %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Inward Remitance</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href='base.html'>Export</a></li>
      <li class="breadcrumb-item"><a href='inwardRemitanceTable.html'>Accounts</a></li>
      <li class="breadcrumb-item active">inwardRemitance</li>
    </ol>
    <a href="{% url 'inwardRemitance' %}" class="btn btn-alt-info mr-5 mb-5 btn-success"><!--vesselmaster-->
      &nbsp;Add more
    </a>
    <div class="card mb-4">
        
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
      </div>
      <div class="card-body">
        <table id="datatablesSimple" style="overflow-x: scroll;">
          <thead>
            <tr>
              <th>Sender/Party Name</th>
              <th>Invoice No.</th>
              <th>Currency</th>
              <th>Foreign Currency</th>
              <th>Amount</th>
              <th>REF</th>
              <th>Date</th>
              <th>Submitted By</th>
              <th>BRC No</th>
              <th>BRC Amount</th>
              <th>BRC Date</th>
              <th> Actions </th>
            </tr>
          </thead>
          <!--<tfoot>
            <tr>
                <th>Export Date</th>
                <th>Invoice No.</th>
                <th>From Site</th>
                <th>Destination</th>
                <th>Container No.</th>
                <th>Driver Name</th>
                <th>Driver Mob</th>
                <th>Truck No</th>
                <th>Container Seal No.</th>
                <th>Shiping Line</th>
                <th>Crop</th>
                <th>Transport Master</th>
                <th>Acti5ons</th>
            </tr>
          </tfoot> -->
          <tbody>
            {% for data in rel_invoice_brc %}
            <tr height = "20px" width= "100%" >
              {% if data.0 != none %}
                <td class="d-sm-table-cell text-center">{{data.0}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.1 != none %}
                <td class="d-sm-table-cell text-center">{{data.1}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.2 != none %}
                <td class="d-sm-table-cell text-center">{{data.2}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.3 != none %}
                <td class="d-sm-table-cell text-center">{{data.3}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.4 != none %}
                <td class="d-sm-table-cell text-center">{{data.4}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.5 != none %}
                <td class="d-sm-table-cell text-center">{{data.5}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.6 != none %}
                <td class="d-sm-table-cell text-center">{{data.6}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.7 != none %}
                <td class="d-sm-table-cell text-center">{{data.7}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.8 != none %}
                <td class="d-sm-table-cell text-center">{{data.8}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.9 != none %}
                <td class="d-sm-table-cell text-center">{{data.9}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}

              {% if data.10 != none %}
                <td class="d-sm-table-cell text-center">{{data.10}}</td>
              {% else %}
                <td class="d-sm-table-cell text-center">-</td>
              {% endif %}
              
              <td class="text-center">
                <div class="btn-group">
                  <a
                    href=""
                    class="btn btn-sm btn-secondary"
                    data-toggle="tooltip"
                    title="View container Movement"
                  >
                    <i class="fas fa-eye"></i>
                  </a>
                  <a
                    href=""{% comment %} "{% url 'vesselmaster_with_pk' pk="data.1" %}" {% endcomment %}
                    class="btn btn-sm btn-secondary"
                    data-toggle="tooltip"
                    title="Add date time"
                  >
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <a
                    href=""
                    class = "btn btn-sm btn-secondary"
                    data-toggle="tooltip"
                    title="Delete Container Movement"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<!--<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Export Registration</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active"></li>
    </ol>
    <div class="content">
      <!-- Dynamic Table Full -->
      <div class="block">
        <div class="block-header block-header-default">
          <!-- <h3 class="block-title">Users </h3> -->

          
          <!--<?php } ?> -->
        </div>
        <div class="block-content">
          <!-- DataTables functionality is initialized with .js-dataTable-full class in js/pages/be_tables_datatables.min.js which was auto compiled from _es6/pages/be_tables_datatables.js -->
          <div class="row justify-content-start py-20">
            <div class="col-lg-12">
              <!-- <?php
                            // Include config file
                            require "connect_db.php";

                            // Attempt select query execution
                            $sql = "SELECT * FROM inward";
                            if($result = mysqli_query($conn, $sql)){
                                if(mysqli_num_rows($result) > 0){

                                    echo " 

              <table
                class="table table-bordered table-striped table-vcenter js-dataTable-full"
                style="display: inline-block; overflow-x: scroll"
              >
                <thead>
                  <tr>
                    <th class="text-center extable" style="width: 15%"></th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>

              {% if not exportData %}
              <p><em>No records were found.</em></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->
{% endblock content %}
